body {
    height: 950px;
}
/*Crystal heading*/
h1 {
    font-size: 35px;
    color: white;
}
#gameTitle {
    background-color: orange;
    width: 375px;
    height: 60px;
    margin: 10px;
}

/*directions*/
#directionsRow {
    width: 100%;
}
#directions {
    color: green;

}
#main-container {
    background-color: #ffe3c6;
    width: 50%;
    margin: 0px 0px 0px 10px;

}

/*number to guess*/
#numberGuessSection {
    background-color: #3cb373;
}
h2 {
    color: black;

/*wins loss*/
}
#winLossSection { 
    background-color: #04fdfe;
}

/*crystal images*/
#one {
    height: 300px;
    width: 300px;
    margin: 10px;
}
#two {
    height: 300px;
    width: 300px;
    margin: 10px;
}
#three {
    height: 300px;
    width: 300px;
    margin: 10px;
}
#four {
    height: 300px;
    width: 300px;
    margin: 10px;
}

  /*Your total score*/
#totalScoreSection {
    background-color: #028a8c;
    margin: 5px 0px 5px 0px;
    padding: 0px 0px 0px 0px;
}

#totalScoreActual {
    background-color: #028a8c;
    padding: 30px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
}
